<!doctype html>

<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
<head>
  <meta charset="utf-8">
  <script src="{{ '/static/js/jquery-1.8.0.min.js' | relative_url }}" type="text/javascript"></script>
  <title>{{site.title}} {{site.title_separator}} {{ page.title }}</title>
  <!--<meta name="description" content="Bio"> -->


  <link rel="stylesheet" href="{{ '/static/css/sidenav.css' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/media/icons/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/media/icons/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/media/icons/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/static/media/icons/site.webmanifest' | relative_url }}">
<link rel="mask-icon" href="{{ '/static/media/icons/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ '/static/media/icons/favicon.ico' | relative_url }}">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="{{ '/static/media/icons/browserconfig.xml' | relative_url }}">

</head>

<body>
    <!-- Side navigation -->
    <div class="sidenav">
        <img src="{{ '/static/media/header.png' | relative_url }}" alt="Robot Raccoon image">
        <a href="res/blah.pdf">CV</a>
        <a href="https://github.com/reakain">GitHub</a>
        <a href="https://www.thingiverse.com/reakain">Thingiverse</a>

        {% for collection in site.collections %}
        {% if collection.title %}
            <details>
                <summary>{{ collection.title }}</summary>
                {% assign p_sorted = site.pages | where: "collection",collection.label %}
                <a href="{{site.baseurl}}/{{ collection.label }}/">Overview</a>
                {% for p in p_sorted %}
                {% if p.name != 'index.md' %}
                  <a href="{{site.baseurl}}{{ p.url }}">{{ p.title }}</a>
                  {% endif %}
                {% endfor %}
            </details>
            {% endif %}
        {% endfor %} 
      </div>

      <!-- Header -->
      <div class="header">
        <h1>{{ page.title }}</h1>
      </div>
  
    <!-- Page content -->
    <div class="main">
      {{page.category}}
        {{ content }}
    </div> 
</body>
</html>